* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
.logo1 img {
    width: 100%;
}
.logo1 {
    width: 80PX;
}
.tag1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
ul{
    list-style: none;
    color: aliceblue;

}
.tag2-1{
    background:rgb(240, 240, 102) ;
    border-radius:20px ;
    padding: 10px 10px;
    color: black;
}
.tag2 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}
.tag3 ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tag-1{
    position: relative;
}

.tag0 {
    background: rgb(35, 35, 50) ;
    padding: 8px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
.tag4{
    background-color: aliceblue;
}
.tag4 ul{
display: flex;
align-items: center;
justify-content: space-between;
color:black;
padding-top: 10px;

}


.tag5 {
    background-color: rgb(36, 35, 35);
    color: azure;
    height: 55%;
    padding-top: 270px;
    padding-bottom: 150px;
    gap: 10px;
    margin-top: 70px;
    text-align: center;
    
}
  
.tag5-5{
    padding: 10px 50px;
    background-color: rgb(235, 160, 67);
    border-radius: 25px;
}

.tag6{
    padding: 30px;
}
.tag7 {
    margin: 10px 70px;
    background-color: #fffefe;
    
    
    border: 1px solid rgb(31, 29, 29);
    margin-right: 30px;
}
.tag8{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    
}


    


.logo2{
    width: 100%;
}
.logo2 img {
    width:350px ;
    
}
.logo3{
    width: 100%;
}
.logo3 img {
    width: 350px;
}
.logo4{
    width: 100%;
}
.logo4 img {
    width: 350px;
}
.tag8-1{
    margin: 10px 10px;
    border-right: 1px solid black;
}
.tag8-2{
    margin:10px 10px;
    border-right:1px solid black ;
}
.tag8-3{
    margin: 10px 0px;
    
}
.tag8-4 a{
    text-decoration: none;
    padding-left: 110px;
}
.tag8-5 {
    padding-left:20px ;
    padding-bottom: 20px;
}

.tag10{
    margin: 40px;
    padding: 10px;
}
.tag11{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    gap: 3px;
    
}

.logo5{
    width: 100%;
    border: .5px solid rgb(42, 40, 40);
    align-items: center;
    justify-content: space-around;
    padding-left: 20px;
}
.logo5 img {
    width: 25px;
}
.search-box{
    padding: 3px 300px;
    margin-left: 400px;
}
.tag13{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: space-between;
    margin: 100px;
    gap: 5px;
    padding: 10px;
}
.box{
    min-height: 300px;
    min-width: 100px;
    border: 1px solid black;
    padding: 20px;
    
}
.tag14 a{
    text-decoration: none;
    list-style: none;
    gap: 10px;
}
.tag15{
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top:1px solid black ;
    padding: 5px;
    text-align: center;
}
.text {
    padding: 5px;
}
.text2{
    padding: 15px;
}
.tag16{
    margin: 30px;
}
.logo6{
    width: 100%;
}
.logo6 img{
width:80%;
}
.tag17 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
}

.logo7{
    width: 100%;
}
.logo7 img{
    width: 80%;
}
.logo8{
    width: 100%;
}
.logo8 img{
    width: 80%;
}
.logo9{
    width: 100%;
}
.logo9 img{
    width: 80%;
}
.tag17-1{
    padding-bottom: 30px;
}
.tag18{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: space-between;
    margin: 100px;
}

.logo10{
    width: 100%;
    margin-left: 100px;
}
.logo10 img{
    width: 30%;
}
.logo11{
    width: 100%;
    margin-left: 100px;
}
.logo11 img{
    width: 30%;
}
.logo12{
    width: 100%;
    margin-left: 100px;
}
.logo12 img{
    width: 30%;
    
}
.tag18-2 a{
    text-decoration: none;
    list-style: none;
    padding-left: 100px;
    text-align: center;
}
.tag18-3{
    text-align: center;
    padding: 20px;
}
.tag19{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: space-between;
    margin: 100px;
    border-bottom: 1px solid black;
}
.tag19-1{
    border: 1px solid black;
    margin: 10px;
    min-height: 200px;
    min-width: 250px;
}
.tag19-2{
    padding: 20px;
    background-color: rgb(19, 9, 28);
    color: azure;
}
.tag19-3{
    padding: 20px;
}
.tag19-4 a {
    padding: 20px;
    list-style: none;
    text-decoration: none;
}
.tag20{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tag20-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    margin: 50px;
    margin-top: 20px;
    height: 20%;
    text-align:start ;
    
}
.tag20-2{
    padding: 20px;
}
.tag20-3{
    padding: 20px;
}

.tag21{
    padding: 15px;
    background-color: antiquewhite;
}
.tag22{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(28, 20, 36);
    padding: 30px;
    color: azure;

}
.tag22-1{
    padding: 10px 20px;
    border-radius: 25px;
    background-color: rgb(242, 242, 84);
}